.zcompdump
nvim/.config/nvim/plugin
zsh/.config/zsh/plugins/
newsboat/.config/newsboat/cache.db
mpv/.config/mpv/watch_later/
newsboat/.config/newsboat/cache.db

git/.config/lazygit/state.yml
tmux/.config/tmux/plugins/tpm
mpv/.config/mpv/history.log
cmus/.config/cmus/cache
cmus/.config/cmus/command-history
cmus/.config/cmus/lib.pl
cmus/.config/cmus/search-history
cmus/.config/cmus/playlists
dotfiles/nvim.shada
nvim.shada
