export EDITOR=/usr/bin/nvim
# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# Turn Off the Beebs
xset b off

setxkbmap -layout us,ara
stxkbmap -option 'grp:alt_shift_toggle'

#swith the escape and caps
setxkbmap -option caps:swapescape

#check for bing picture of the day and set it
# python /home/arrowx/File/Projects/Scripts/i3-auto-bing-wallpapers/changer.py
