[Desktop Entry]
Type=Application
Name=lf
Comment=Launches the lf file manager
Icon=utilities-terminal
Terminal=true
Exec=zsh -c "source ~/.config/zsh/.zshrc; lfu"
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
