* {
    border: none;
    border-radius: 0;
    font-family: FiraCode Nerd Font, sans-serif;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#custom-date, #custom-term, #custom-launcher, #workspaces, #clock, #tray, #battery, #pulseaudio, #network,#cpu, #temperature, #memory ,#window,#custom-bandwidth, #custom-dunst, #custom-power, #privacy{
	background-color: #24283b;
	padding: 1px 10px;
	border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#workspaces {
    padding: 1px;
}

#workspaces button {
    color: #c0caf5;
    border-color: #11111b;
}

#workspaces button.focused {
    color: #24283b;
    background-color: #7aa2f7;
    border-radius: 10px;
}

#workspaces button.active{
    color: #2B094B;
    background-color: #7aa2f7;
    border-radius: 10px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #24283b;
	border-radius: 10px;
}

#workspaces button.urgent {
    color: #f7768e;
	border-radius: 10px;
}
#custom-dunst.disabled {
    color: #f7768e;
}

#tray {
    border-radius: 10px;
}

#custom-date {
	color: #7dcfff;
}

#custom-power {
	color: #24283b;
	background-color: #db4b4b;
}

#clock {
    color: #b48ead;
    border-radius: 10px;
}

#cpu {
    color: #73daca;
}

#temperature {
    color: #ff9e64;
}

#custom-dunst {
    color: #7aa2f7;
}

#memory {
    color: #cfc9c2;
}

#battery {
    color: #9ece6a;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: #24283b;
}

#custom-bandwidth, #network{
	color: #f7768e;
}

#pulseaudio, #privacy {
	color: #e0af68;
}
