[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=/home/arrowx/.local/bin/hotkeys.sh

[Install]
WantedBy=default.target
