!! St, or * will apply on diffrent classes of st (started with -n) as well like a scratchpad
!! st. will aplly on the default class of st
!! Transparency (0-1):
st.alpha: 0.85
St.alpha: 1
st.alphaUnfocused: 0.9
*alphaUnfocused: 0.5

!! Set a default font and font size as below:
*font: FiraCode Nerd Font:style=Regular:pixelsize=16:antialias=true

! st.termname: st-256color
*borderpx: 0

!! Set the background, foreground and cursor colors as below:
! TokyoNight colors for Xresources
*background: #1a1b26
*foreground: #c0caf5
*bgFoucesd: #1a1b26
*bgUnfocused: #1a1b26
*color0: #15161E
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6
*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

! Font Somothing
Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
