!! Transparency (0-1):
st.alpha: 0.9

!! Set a default font and font size as below:
! st.font: Monospace-16;
! st.fontalt0 :

! st.termname: st-256color
st.borderpx: 3

!! Set the background, foreground and cursor colors as below:
! TokyoNight colors for Xresources
*background: #1a1b26
*foreground: #c0caf5
*color0: #15161E
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6
*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5
